body{
    margin: 0;
    overflow-x: hidden;
}
nav{
    height: 3vmax;
    width: 100vw;
    display: flex; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px rgb(49, 48, 48);
    position: sticky;
    top: 0%;
    z-index: 10000;
    background-color: antiquewhite;
}
*{
    scroll-behavior: smooth;
}
.left{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid{
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.right{
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left>a{
    text-decoration: none;
    font-size:xx-large;
    color: crimson;
    cursor: no-drop;
}
.mid>a{
    text-decoration: none;
    color: black;
}
.mid>a:hover{
    border-bottom: 2px solid crimson;
}
.right>img{
    width: 15%;
    cursor: pointer;
}

.container{
    height: 70vh;
    display: flex;
    background-image: linear-gradient(to right,rgb(128, 128, 128),rgb(57, 55, 55));
}
.leftcontainer{ 
    width: 100%;
}
.rightcontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rightcontainer>img{
    height: 60%;
    width: 200px;
    margin-right: 10vmax;
    filter: drop-shadow(0 0 20px black);
}
.leftcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3vmax;
}
.leftcontainer>h1{
    font-size: 5vmax;
    font-family:Arial, Helvetica, sans-serif;
}
.leftcontainer>h3{
    margin-top: -6%;
    font-size: 2.5vmax;
    font-family: Arial, Helvetica, sans-serif;
}
.leftcontainer>p{
    margin-top: 1%;
    font-size: 1.2vmax;
    font-family: Arial, Helvetica, sans-serif;
}
.leftcontainer>button{
    display: flex;
    margin-top: -1%;
    width: 8vw;
    padding: 1vmax;
    border: none;
    border-radius: 6px;
    background-color: crimson;
    color: black;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.leftcontainer>button:hover{
    background-color: rgb(129, 18, 40);
}

.products{
    height: 100vh;
}
.products>h1{
    font-size: 3vmax;
    border-bottom: 4px solid crimson;
    text-align: center;
    width: 25vw;
    margin:8px auto;
    padding: 1vmax;
}
.productcontainer{
    display: flex;
    height: 100vh;
    max-width: 100vw;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.product1{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product1>img{
    height: 40vh;
}
.product1>h1{
    margin: -5%;
}
.product1>h5{
    margin: -9%;
}
.product1:hover{
    transform:translateY(-7px);
    cursor: pointer;
}

.product2{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product2>img{
    height: 40vh;
}
.product2>h1{
    margin: -5%;
}
.product2>h5{
    margin: -9%;
}
.product2:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product3{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product3>img{
    height: 40vh;
}
.product3>h1{
    margin: -5%;
}
.product3>h5{
    margin: -9%;
}
.product3:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product4{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product4>img{
    height: 40vh;
}
.product4>h1{
    margin: -5%;
}
.product4>h5{
    margin: -9%;
}
.product4:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product5{ 
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product5>img{
    height: 40vh;
}
.product5>h1{
    margin: -5%;
}
.product5>h5{
    margin: -9%;
}
.product5:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product6{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product6>img{
    height: 40vh;
}
.product6>h1{
    margin: -5%;
}
.product6>h5{
    margin: -9%;
}
.product6:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product7{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product7>img{
    height: 40vh;
}
.product7>h1{
    margin: -5%;
}
.product7>h5{
    margin: -9%;
}
.product7:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product8{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product8>img{
    height: 40vh;
}
.product8>h1{
    margin: -5%;
}
.product8>h5{
    margin: -9%;
}
.product8:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.product9{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
    transition: all 0.3s;
}
.product9>img{
    height: 40vh;
}
.product9>h1{
    margin: -5%;
}
.product9>h5{
    margin: -9%;
}
.product9:hover{
    transform:translateY(-5px);
    cursor: pointer;
}

.footer{
    background-color: black;
    height: 20vh;
    display: flex;
    width: 100vmax;
    margin: auto;
}
.app{
    border: 1px solid white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.copyright{
    border: 1px solid white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.follow{
    border: 1px solid white;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.follow>h5{
    border-bottom: 1px solid white;
}
.follow>a{
    text-decoration: none;
    color: white;
}
.copyright>a{
    text-decoration: none;
    font-size:xx-large;
    color: crimson;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: no-drop;
}
.copyright>p{
    color: white;
}
.app>h5{
    border-bottom: 1px solid white;
}    
.app>a>img{
    width: 7vmax;
    transition: all 0.3s;
}
.app>a>img:hover{
    transform:translateY(-5px);
}
.follow>a:hover{
    color: crimson;
}